.user-profile__edit-mode {
    transition: all .2s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    &--controls {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &--description-input {
        margin-top: 1rem;
        transform: scale(0);
        opacity: 0;
        animation: popIn .5s forwards;
    }
}