//$gradient-to-right-bottom: linear-gradient(to right bottom, rgba(#5f2eea, .8), rgba(#ffa3fd, .8));
$gradient-to-right-bottom: linear-gradient(to right bottom, rgba(#5f2eea, .8), rgba(#C796FF, .8));
$gradient-to-right: linear-gradient(to right, rgba(#5f2eea, .8), rgba(#C796FF, .8));
$gradient-radial: radial-gradient(rgba(#C796FF, .8), rgba(#5f2eea, .8));