.chat-list {
    list-style-type: none;
    overflow-y: scroll;
    height: 80vh;
    position: relative;
    padding: 2rem 0;

    display: flex;
    flex-direction: column;

    &__item-self {
        align-self: flex-end;
    }
}