@import '../../sass/mixins.scss';

.chat-list {
    list-style-type: none;
    overflow-y: scroll;
    height: 80vh;
    position: relative;
    padding: 2rem 0;

    &__item {
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }

    &__item-self {
        justify-content: flex-end;
    }
}