@import '../../../sass/animations.scss';

.room-item {
    display: flex;
    align-items: center;
    transition: all .2s;
    backface-visibility: hidden;
    padding: 0 1.5rem;
    
    &:not(:last-child) {
        padding-bottom: 2.5rem;
    }

    &__title {
        position: relative;
    }

    &__owner-title {
        transition: all .3s;
    }

    &:hover &__owner-title {
        transform: translateX(3rem);
    }

    &:hover &__delete-button {
        opacity: 1;
        transform: translateY(-50%) translateX(0);
    }

    &__owner {
        font-size: 1.2rem;
    }

    &__name {
        color: var(--color-grey-dark-2);
        font-size: 2rem;
        font-weight: 600;
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: auto;
        position: relative;

        & > * {
            margin-left: 1.5rem;
        }
    }

    &__delete-button,
    &__join-button {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    &__delete-button {
        width: 2rem;
        height: 2rem;
        padding: 0 !important;
        position: absolute;
        right: -3rem;

        display: flex;
        align-items: center;
        justify-content: center;

        border-color: #e74c3c;
        background-color: #e74c3c;

        position: absolute;
        top: 50%;
        left: -3rem;
        transform: translateY(-50%) translateX(-3rem);

        transition: opacity .3s, transform .3s;

        opacity: 0;
    }

    &__delete-icon {
        width: 1.2rem;
        height: 1.2rem;
        fill: white;
    }
}

.room-item-animated {
    animation: slideInBottom .5s ease forwards;
    transform: translateY(12.8rem);
    opacity: 0;
}