@import '../../sass/gradients.scss';

.chat {
    height: 100vh;
    background-image: $gradient-to-right-bottom-faint;

    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        position: relative;
        background-color: white;

        padding: 0 4rem;
        padding-bottom: .5rem;
        border-radius: 2.4rem;
        filter: drop-shadow(4rem 4rem 8rem rgba(#000, .4));
    }

    &__profile-box {
        position: absolute;
        left: 0;
        z-index: 1500;
        background-color: white;
        width: 100%;

        border-top-left-radius: 2.4rem;
        border-top-right-radius: 2.4rem;
    }

    &__chat-profile {
        border-radius: 0;
    }
}