.room-password-modal {
    display: flex;
    flex-direction: column;

    &__title {
        text-align: center;
    }

    &__enter-button {
        align-self: flex-end;
        min-width: 10rem;
    }

    &__prompt {
        color: red;
    }

    &__input {
        min-width: 30rem;
    }
}