@import '../../sass/mixins.scss';

.home-introduction {
    padding: 12rem 0;
    text-align: center;

    &__title {

    }

    &__content {
        display: flex;

        @include respond(tab-port) {
            padding: 0 5rem;
            flex-direction: column;
        }
    }

    &__text {
        flex: 0 0 50%;
        text-align: left;
    }

    &__images {
        position: relative;
        margin-left: 5rem;

        @include respond(tab-port) {
            margin-top: 10rem;
            flex: 0 0 100%;
            align-self: center;
        }
    }

    &__image {
        max-width: 30rem;
        position: absolute;
        top: -5rem;
        left: 0;
        box-shadow: 0 1.5rem 3rem rgba(#000, .07);
        border-radius: 1.6rem;
        transition: all .3s;

        @include respond(tab-port) {
            padding: 0 1rem;
            flex-direction: column;
            position: relative;
            max-width: 40rem;
        }

        &:last-child {
            top: 2rem;
            left: 15rem;
            @include respond(tab-port) {
                padding: 0 1rem;
                flex-direction: column;
                position: absolute;
                left: -12rem;
            }
        }

        &:hover {
            transform: translateY(-1rem) scale(1.1);
            z-index: 1000;
        }
    }
}