.chat-box {
    display: flex;
    flex-direction: column;

    &__input-box {
        display: flex;
        align-items: center;
    }

    &__input {
        flex: 1;
        margin-left: 1.5rem;

        textarea { height: 10rem; }
    }

    &__send-button {
        align-self: flex-end;
    }
}