.search {
    flex: 0 0 55%;
    position: relative;

    &__input {
        z-index: 1501;
    }

    &__results {
        list-style-type: none;
        position: absolute;
        background-color: white;
        width: 100%;
        z-index: 1500;
        border-radius: 1.6rem;
    }
}