.search {
    flex: 0 0 55%;
    position: relative;

    &__input {
        z-index: 1501;
    }

    &__results {
        list-style-type: none;
        position: absolute;
        background-color: white;
        width: 100%;
        z-index: 1500;
        overflow: scroll;
        max-height: 20rem;
        filter: drop-shadow(0 1.5rem 3rem rgba(#000, .05));
    }
}