.panel {
    display: flex;
    flex-direction: column;

    &__create-room-button {
        align-self: flex-end;
        width: 3.5rem;
        height: 3.5rem;
        padding: 0;
        margin-right: 1.5rem;
    }

    &__create-room-icon {
        width: 1rem;
        height: 1rem;
        fill: white;
    }

    &__logout-button {
        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logout-icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
        fill: var(--color-primary);
        transform: translateY(.3rem);
    }

    &__logo {
        align-self: flex-end;
        max-width: 12rem;
    }
}