.panel {
    display: flex;
    flex-direction: column;

    &__create-room-button {
        align-self: flex-start;
        padding: 1rem 2.5rem;
    }

    &__logout-button {
        position: fixed;
        top: 0;
        right: 0;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logout-icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
        fill: var(--color-primary);
        transform: translateY(.3rem);
    }

    &__logo {
        align-self: flex-end;
        max-width: 12rem;
    }
}