.avatar{
    position: relative;
    display: inline-block;

    &__figure {
        margin: 0;
        padding: .6rem;
        border-radius: 50%;
        width: 8.4rem;
        height: 8.4rem;
    }

    &__image {
        border-radius: 50%;
        display: block;
        width: 82%;
        height: 82%;
        border: .4rem solid white;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.avatar-online::before {
    content: "";
    background-color: #00BA88; 
    border: .4rem solid white;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 0;
    top: -.5rem;
    z-index: 1500;
}

.avatar-story .avatar__figure {
    background-image: linear-gradient(
        -45deg,
        #ee7752,
        #e73c7e,
        #23a6d5,
        #23d5ab
    );
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}