@import '../../sass/animations.scss';

.message {
    animation: slideInLeft .3s $bounceTiming;
    backface-visibility: hidden;
    display: inline-block;
    margin: .5rem 0;
    max-width: 50%;

    &__sender {
        font-size: 1rem;
        margin: 0;
        display: block;
        color: var(--color-grey-dark-2);
    }

    &__content {
        color: var(--color-grey-dark-3);
        padding: 1rem 2rem;
        font-size: 1.4rem;
        background-color: var(--color-grey-light-2);
        display: inline-block;
        border-radius: 1.4rem;
        border-top-left-radius: 0;
    }
}

.message-self {
    max-width: 50%;
    animation: slideInRight .3s cubic-bezier(1,0,0,1.6);

    .message__sender {
        font-size: 1rem;
        margin: 0;
        display: block;
        color: var(--color-grey-dark-2);
        text-align: right;
    }

    .message__content {
        color: white;
        background-color: var(--color-primary);
        border-top-left-radius: 1.4rem;
        border-top-right-radius: 0;
        font-weight: 600;
    }
}